
/* 
.navcolor {
    background-color: rgb(95, 194, 197);
}

:root {
    --bs-primary-rgb: #5fc2c5;
} 
    
--bs-border-color: #dee2e6;

 #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

 --bs-highlight-bg: #fff3cd;

 

*/

/* 
för att expand alltid 
.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand .navbar-nav {
    flex-direction: row;
  }
 */
