
/* 
.navcolor {
    background-color: rgb(95, 194, 197);
}

:root {
    --bs-primary-rgb: #5fc2c5;
} 
    
--bs-border-color: #dee2e6;

 #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

*/

section.resume-section .resume-section-content, .resume-section-img {
  width: 100%;
}
/* this seems not loading when it is with bootstrap+custom css from the template
det verkar inte laddas ner när det är med bootstrap+custom css från template */
